html {
  background-color: rgb(187, 174, 169);
  color: rgba(43, 41, 41, 0.76);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.wrapper {
  height: 450px;
  width: 500px;
  background: rgb(255, 255, 255);
  margin: auto;
  margin-top: 50px;
  align-items: center;
  border-radius: 5px;
  border: 5px solid rgb(236, 236, 236, 0.1);
  box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.1);
}

.input {
  align-items: center;
  display: inline;
  margin: 50px;
  text-align: right;
}

.result {
  margin: auto;
  margin-top: 25px;
  padding: 25px;
  width: 75%;
  min-height: 25px;
  border: 5px solid rgb(236, 236, 236);
}

button {
  width: 100px;
  height: auto;
  margin: 5px;
  font-size: 1em;
  font-weight: bold;
  color: rgb(126, 126, 126);
  background-color: rgb(238, 237, 237);
  border: 1px solid rgb(202, 201, 201);
}

.input {
  height: 200px;
}

.buttons {
  height: 300px;
  padding: 25px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.equal {
  grid-area: 2 / 4 / 6 / 5;
  background-color: rgb(61, 61, 226);
  height: auto;
  color: black;
}

.operator {
  background-color: rgb(175, 175, 175);
}

.hl {
  border: 2px solid rgb(61, 61, 226);
  transition: all 0.07s ease;
}
